.section {
  background-color: #F7FAFC;
  position: fixed;
  bottom: 0;
  width: calc(100% - 1rem);
  margin-left: .5rem;
  z-index: 1000;
  border-radius: 20px 20px 0 0;
}

.sectionToplineSize {
  height: 2.75rem;
  transition: .5s;
}

.sectionFullsize {
  height: 12rem;
  transition: .5s;
  border-radius: 20px 20px 0 0;
}
.sectionExtraFullsize {
  height: 19rem;
  transition: .5s;
  border-radius: 20px 20px 0 0;
}

.topline {
  font-family: 'Odibee Sans';
  color: #EBFBFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2em 1em;
  font-size: 1.5rem;
  background-color: #00C5FF;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px -5px 17px -7px rgba(181,181,181,0.8);
}

.icons {
  fill: #EBFBFF;
}

.header {
  font-size: 1.2em;
}
