.rateIcon {
  fill: white;
}

.rateIconGood {
  background-color: #48BB78;
}

.rateIconBad {
  background-color: #F56565;
}

.rateIconBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
  border-radius: 10px;
  margin-right: .1em;
}

.subtext {
  color: #4A5568;
  font-size: .8em;
}

.numRatingText {
  margin-top: 1em;
  text-align: center;
}

.lockScore {
  display: flex;
}

.lockScore h3 {
  font-size: 2.5em;
}

.ratingBlock {
  background-color: #E2E8F0;
  width: 45%;
  padding: 1em;
  display: flex;
  justify-content: center;
  margin: .2em .5em 0 .5em;
  border-radius: 10px;
}

